In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import timedelta

In [86]:
df = pd.read_excel("/Users/arnenyeck/Desktop/Repositories/Weather_project/weather_dataset_stage1.xls")
df

,Date,Temperature,Average humidity (%,Average dewpoint (°F,Average barometer (in,Average windspeed (mph,Average gustspeed (mph,Average direction (°deg,Rainfall for month (in,Rainfall for year (in,...,Maximum humidity (%,Minimum humidity (%,Maximum pressure,Minimum pressure,Maximum windspeed (mph,Maximum gust speed (mph,Maximum heat index (°F,Date1,Month,diff_pressure
0,2022-01-01,'37.8','35.0','12.7','29.7','26.4','36.8','274.0','0.0','0.0',...,'4.0','27.0','29.762','29.596','41.4','59.0','40.0','2022-01-01','01','0.16600000000000037'
1,2022-01-02','43.2','32.0','14.7','29.5','12.8','18.0','240.0','0.0','0.0',...,'4.0','16.0','29.669','29.268','35.7','51.0','52.0','2022-01-02','01','0.4009999999999998'
2,2022-01-03','25.7','60.0','12.7','29.7','8.3','12.2','290.0','0.0','0.0',...,'8.0','35.0','30.232','29.26','25.3','38.0','41.0','2022-01-03','01','0.9719999999999978'
3,2022-01-04','9.3','67.0','0.1','30.4','2.9','4.5','47.0','0.0','0.0',...,'7.0','35.0','30.566','30.227','12.7','20.0','32.0','2022-01-04','01','0.33899999999999864'
4,2022-01-05','23.5','30.0','-5.3','29.9','16.7','23.1','265.0','0.0','0.0',...,'5.0','13.0','30.233','29.568','38.0','53.0','32.0','2022-01-05','01','0.6649999999999991'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3898,2022-07-25','62.8','60.0','48.1','29.7','2.5','4.0','242.0','0.33','4.47',...,'90.0','36.0','29.781','29.645','8.1','17.3','77.5','2022-07-25','07','0.13599999999999923'
3899,2022-07-26','60.6','68.0','48.9','29.8','1.7','2.9','357.0','0.33','4.47',...,'90.0','40.0','29.93','29.745','11.5','15.0','77.5','2022-07-26','07','0.18499999999999872'
3900,2022-07-27','61.7','64.0','47.4','29.9','2.2','4.0','66.0','0.33','4.47',...,'96.0','35.0','29.941','29.781','13.8','18.4','78.2','2022-07-27','07','0.16000000000000014'
3901,2022-07-28','60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'94.0','35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';
3902,2022-07-28','60.5','61.0','45.3','29.7','4.0','6.2','248.0','0.35','4.49',...,'94.0','35.0','29.792','29.675','17.3','26.5','77.6','2022-07-28','07','0.11700000000000088';

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3903 entries, 0 to 3902
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3903 non-null   object
 1    Temperature              3903 non-null   object
 2    Average humidity (%      3903 non-null   object
 3    Average dewpoint (°F     3903 non-null   object
 4    Average barometer (in    3903 non-null   object
 5    Average windspeed (mph   3903 non-null   object
 6    Average gustspeed (mph   3903 non-null   object
 7    Average direction (°deg  3903 non-null   object
 8    Rainfall for month (in   3903 non-null   object
 9   Rainfall for year (in     3903 non-null   object
 10   Maximum rain per minute  3903 non-null   object
 11   Maximum temperature (°F  3903 non-null   object
 12   Minimum temperature (°F  3903 non-null   object
 13   Maximum humidity (%      3903 non-null   object
 14   Minimum humidity (%      3903 non-null   object
 15   Maximum pressure         3903 non-null   object
 16   Minimum pressure         3903 non-null   object
 17   Maximum windspeed (mph   3903 non-null   object
 18   Maximum gust speed (mph  3903 non-null   object
 19   Maximum heat index (°F   3903 non-null   object
 20  Date1                     3903 non-null   object
 21   Month                    3903 non-null   object
 22   diff_pressure            3903 non-null   object
dtypes: object(23)
memory usage: 701.4+ KB

In [88]:
df.columns

Index(['Date', ' Temperature', ' Average humidity (%', ' Average dewpoint (°F',
       ' Average barometer (in', ' Average windspeed (mph',
       ' Average gustspeed (mph', ' Average direction (°deg',
       ' Rainfall for month (in', 'Rainfall for year (in',
       ' Maximum rain per minute', ' Maximum temperature (°F',
       ' Minimum temperature (°F', ' Maximum humidity (%',
       ' Minimum humidity (%', ' Maximum pressure', ' Minimum pressure',
       ' Maximum windspeed (mph', ' Maximum gust speed (mph',
       ' Maximum heat index (°F', 'Date1', ' Month', ' diff_pressure'],
      dtype='object')

## Fixing the years on dataset

In [91]:
df['Date']

0        2022-01-01
1       2022-01-02'
2       2022-01-03'
3       2022-01-04'
4       2022-01-05'
           ...
3898    2022-07-25'
3899    2022-07-26'
3900    2022-07-27'
3901    2022-07-28'
3902    2022-07-28'
Name: Date, Length: 3903, dtype: object

In [92]:
df['Date'].value_counts()

2022-07-28'    13
2022-05-22'    12
2022-06-12'    12
2022-06-17'    12
2022-06-16'    12
               ..
2022-12-07'     8
2022-12-01'     8
2022-12-05'     8
2022-02-29'     2
2022-01-01      1
Name: Date, Length: 367, dtype: int64

In [93]:
new = df['Date'].replace("2022-01-01","2022-01-01'", inplace = True)
df["Date"]

0       2022-01-01'
1       2022-01-02'
2       2022-01-03'
3       2022-01-04'
4       2022-01-05'
           ...
3898    2022-07-25'
3899    2022-07-26'
3900    2022-07-27'
3901    2022-07-28'
3902    2022-07-28'
Name: Date, Length: 3903, dtype: object

In [94]:
## removing the apostrophe at the end of dates
df['Date']=df['Date'].str.replace("'","")
df['Date']

0       2022-01-01
1       2022-01-02
2       2022-01-03
3       2022-01-04
4       2022-01-05
           ...
3898    2022-07-25
3899    2022-07-26
3900    2022-07-27
3901    2022-07-28
3902    2022-07-28
Name: Date, Length: 3903, dtype: object

In [96]:
## Remove out of range dates with 'coerce', and converted to column to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Date']

0      2022-01-01
1      2022-01-02
2      2022-01-03
3      2022-01-04
4      2022-01-05
          ...
3898   2022-07-25
3899   2022-07-26
3900   2022-07-27
3901   2022-07-28
3902   2022-07-28
Name: Date, Length: 3903, dtype: datetime64[ns]

## Checking for duplicates

In [97]:
df.duplicated().sum()

1

In [98]:
## deleting duplicates
df.drop_duplicates(inplace = True)

In [99]:
df.duplicated().sum()

0

## Fixing dataset labels

In [101]:
## deleting Date1
df = df.drop(df.columns[20], axis=1)

In [102]:
## trimming white spaces
df.columns.str.strip()

Index(['Date', 'Temperature', 'Average humidity (%', 'Average dewpoint (°F',
       'Average barometer (in', 'Average windspeed (mph',
       'Average gustspeed (mph', 'Average direction (°deg',
       'Rainfall for month (in', 'Rainfall for year (in',
       'Maximum rain per minute', 'Maximum temperature (°F',
       'Minimum temperature (°F', 'Maximum humidity (%', 'Minimum humidity (%',
       'Maximum pressure', 'Minimum pressure', 'Maximum windspeed (mph',
       'Maximum gust speed (mph', 'Maximum heat index (°F', 'Month',
       'diff_pressure'],
      dtype='object')

In [103]:
## deleting column month 
df = df.drop(df.columns[20], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3902 entries, 0 to 3901
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      3900 non-null   datetime64[ns]
 1    Temperature              3902 non-null   object
 2    Average humidity (%      3902 non-null   object
 3    Average dewpoint (°F     3902 non-null   object
 4    Average barometer (in    3902 non-null   object
 5    Average windspeed (mph   3902 non-null   object
 6    Average gustspeed (mph   3902 non-null   object
 7    Average direction (°deg  3902 non-null   object
 8    Rainfall for month (in   3902 non-null   object
 9   Rainfall for year (in     3902 non-null   object
 10   Maximum rain per minute  3902 non-null   object
 11   Maximum temperature (°F  3902 non-null   object
 12   Minimum temperature (°F  3902 non-null   object
 13   Maximum humidity (%      3902 non-null   object
 14   Minimum humidity (%      3902 non-null   object
 15   Maximum pressure         3902 non-null   object
 16   Minimum pressure         3902 non-null   object
 17   Maximum windspeed (mph   3902 non-null   object
 18   Maximum gust speed (mph  3902 non-null   object
 19   Maximum heat index (°F   3902 non-null   object
 20   diff_pressure            3902 non-null   object
dtypes: datetime64[ns](1), object(20)
memory usage: 670.7+ KB

## Encoding the dataset

In [111]:
df.replace("'", "", regex=True, inplace=True)

In [112]:
df.replace(";", "", regex=True, inplace=True)

In [105]:
new_columns = ['date', 'temperature', 'average_humidity', 'average_dewpoint',       'average_barometer', 'average_windspeed', 'average_gustspeed',       'average_direction', 'rainfall_month', 'rainfall_year',       'maximum_rain_minute', 'maximum_temperature', 'minimum_temperature',       'maximum_humidity', 'minimum_humidity', 'maximum_pressure',       'minimum_pressure', 'maximum_windspeed',       'maximum_gust_speed', 'maximum_heat_index',       'diff_pressure']
df.columns = new_columns

In [106]:
df.columns

Index(['date', 'temperature', 'average_humidity', 'average_dewpoint',
       'average_barometer', 'average_windspeed', 'average_gustspeed',
       'average_direction', 'rainfall_month', 'rainfall_year',
       'maximum_rain_minute', 'maximum_temperature', 'minimum_temperature',
       'maximum_humidity', 'minimum_humidity', 'maximum_pressure',
       'minimum_pressure', 'maximum_windspeed', 'maximum_gust_speed',
       'maximum_heat_index', 'diff_pressure'],
      dtype='object')

In [113]:
for col in df.columns:
    if df[col].dtype=="object":
        df[col]=df[col].astype(float)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3902 entries, 0 to 3901
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 3900 non-null   datetime64[ns]
 1   temperature          3902 non-null   float64
 2   average_humidity     3902 non-null   float64
 3   average_dewpoint     3902 non-null   float64
 4   average_barometer    3902 non-null   float64
 5   average_windspeed    3902 non-null   float64
 6   average_gustspeed    3902 non-null   float64
 7   average_direction    3902 non-null   float64
 8   rainfall_month       3902 non-null   float64
 9   rainfall_year        3902 non-null   float64
 10  maximum_rain_minute  3902 non-null   float64
 11  maximum_temperature  3902 non-null   float64
 12  minimum_temperature  3902 non-null   float64
 13  maximum_humidity     3902 non-null   float64
 14  minimum_humidity     3902 non-null   float64
 15  maximum_pressure     3902 non-null   float64
 16  minimum_pressure     3902 non-null   float64
 17  maximum_windspeed    3902 non-null   float64
 18  maximum_gust_speed   3902 non-null   float64
 19  maximum_heat_index   3902 non-null   float64
 20  diff_pressure        3902 non-null   float64
dtypes: datetime64[ns](1), float64(20)
memory usage: 670.7 KB

In [115]:
df.isnull().sum()

date                   2
temperature            0
average_humidity       0
average_dewpoint       0
average_barometer      0
average_windspeed      0
average_gustspeed      0
average_direction      0
rainfall_month         0
rainfall_year          0
maximum_rain_minute    0
maximum_temperature    0
minimum_temperature    0
maximum_humidity       0
minimum_humidity       0
maximum_pressure       0
minimum_pressure       0
maximum_windspeed      0
maximum_gust_speed     0
maximum_heat_index     0
diff_pressure          0
dtype: int64

In [116]:
df['date'].value_counts()

2022-01-01    12
2022-06-12    12
2022-06-18    12
2022-06-17    12
2022-06-16    12
              ..
2022-12-09     8
2022-12-08     8
2022-12-07     8
2022-12-06     8
2022-12-01     8
Name: date, Length: 365, dtype: int64

In [ ]:
## It seems like the raw data has the column "Date" corrupted. 
## The raw date gives us attributes from 2022 to July 2033 as a predicted date. 
## There is going to be a year change fro 2022 up to 2033.

In [120]:
target_date = '2022-01-01'
target_date = pd.to_datetime(target_date)
index = df.index[df['date'] == target_date].tolist()
year = 2021
max_year = 2033

for i in range(index[0], df.shape[0]):
    if df.at[i, 'date'] == target_date:
        year += 1
        if year > max_year:
            break
    df.at[i, 'date'] = df.at[i, 'date'].replace(year = year)

In [121]:
## let's see where the missing variables are
df[df.isna().any(axis = 1)]

,date,temperature,average_humidity,average_dewpoint,average_barometer,average_windspeed,average_gustspeed,average_direction,rainfall_month,rainfall_year,...,maximum_temperature,minimum_temperature,maximum_humidity,minimum_humidity,maximum_pressure,minimum_pressure,maximum_windspeed,maximum_gust_speed,maximum_heat_index,diff_pressure
2366,NaT,38.1,36.0,12.3,29.8,11.5,17.0,77.0,0.16,0.36,...,45.9,27.9,73.0,22.0,30.023,29.702,29.9,39.1,45.9,0.321
3751,NaT,37.6,31.0,8.7,29.8,8.0,11.6,236.0,0.48,0.49,...,48.1,26.1,57.0,20.0,29.972,29.647,19.6,31.1,48.1,0.325

In [123]:
df.iloc[[2365,2366,2367,3750,3751,3752]]

,date,temperature,average_humidity,average_dewpoint,average_barometer,average_windspeed,average_gustspeed,average_direction,rainfall_month,rainfall_year,...,maximum_temperature,minimum_temperature,maximum_humidity,minimum_humidity,maximum_pressure,minimum_pressure,maximum_windspeed,maximum_gust_speed,maximum_heat_index,diff_pressure
2365,2029-02-28,42.2,25.0,7.1,29.9,8.7,13.2,58.0,0.16,0.36,...,53.6,31.5,44.0,11.0,29.942,29.749,25.3,36.8,53.6,0.193
2366,NaT,38.1,36.0,12.3,29.8,11.5,17.0,77.0,0.16,0.36,...,45.9,27.9,73.0,22.0,30.023,29.702,29.9,39.1,45.9,0.321
2367,2029-03-01,36.4,30.0,7.6,30.0,7.9,12.5,23.0,0.00,0.21,...,47.0,24.5,51.0,22.0,30.125,29.817,24.2,34.5,47.0,0.308
3750,2033-02-28,37.7,30.0,8.3,30.1,11.0,15.9,224.0,0.48,0.49,...,47.0,29.5,38.0,21.0,30.194,29.970,24.2,42.6,47.0,0.224
3751,NaT,37.6,31.0,8.7,29.8,8.0,11.6,236.0,0.48,0.49,...,48.1,26.1,57.0,20.0,29.972,29.647,19.6,31.1,48.1,0.325
3752,2033-03-01,28.7,66.0,17.8,29.7,4.1,6.5,34.0,0.00,0.49,...,38.2,17.1,90.0,36.0,29.903,29.622,16.1,23.0,38.2,0.281

In [ ]:
## we can see that the null values are due to the leap year.

In [124]:
df.dropna(inplace=True)

In [129]:
df.isnull().sum()

date                   0
temperature            0
average_humidity       0
average_dewpoint       0
average_barometer      0
average_windspeed      0
average_gustspeed      0
average_direction      0
rainfall_month         0
rainfall_year          0
maximum_rain_minute    0
maximum_temperature    0
minimum_temperature    0
maximum_humidity       0
minimum_humidity       0
maximum_pressure       0
minimum_pressure       0
maximum_windspeed      0
maximum_gust_speed     0
maximum_heat_index     0
diff_pressure          0
dtype: int64

In [130]:
df.duplicated().sum()

0

In [131]:
df.to_excel('cleaned_data2.xlsx', index=True)

In [132]:
import os

print(os.getcwd())

/Users/arnenyeck/Desktop/Repositories/Weather_project

In [64]:
df.columns

Index(['date', 'temperature', 'average_humidity', 'average_dewpoint',
       'average_barometer', 'average_windspeed', 'average_gustspeed',
       'average_direction', 'rainfall_month', 'rainfall_year',
       'maximum_rain_minute', 'maximum_temperature', 'minimum_temperature',
       'maximum_humidity', 'minimum_humidity', 'maximum_pressure',
       'minimum_pressure', 'maximum_windspeed', 'maximum_gust_speed',
       'maximum_heat_index', 'diff_pressure'],
      dtype='object')